{
	"env": {
        "development": {
            "sourceMaps": "inline"
		}
	},
	"presets": [
		"@babel/preset-env"
	],
	"plugins": [
		[
			"module-resolver",
			{
				"root" : ["./dist"],
				"alias": {
					"$app": "./dist/app",
					"$models": "./dist/app/models",
					"$controllers": "./dist/app/controllers",
					"$modules": "./dist/modules",
					"$core": "./dist/core",
					"$logs": "./dist/storage/logs",
					"$db": "./dist/storage/db"
				}
			}
		]
	]
}
