{
	"env": {
        "development": {
            "sourceMaps": "inline"
		}
	},
	"presets": [
		"@babel/preset-env"
	],
	"plugins": [
		[
			"module-resolver",
			{
				"alias": {
					"$app": "./app",
					"$models": "./app/models",
					"$controllers": "./app/controllers",
					"$helpers": "./app/helpers",
					"$core": "./app/core",
					"$logs": "./storage/logs",
					"$db": "./storage/db"
				}
			}
		]
	]
}
